.advantages {
	.container {
		padding: 0 60px;

		@media (max-width: $vp-mobile) {
			padding: 0 20px;
		}
	}

	padding: 80px 0;
	margin: 0 0 50px;

	@media (max-width: $vp-tablet) {
		padding: 50px 0;
	}

	@media (max-width: 767px) {
		padding: 20px 0;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 50px 37px;
		padding: 0;
		width: 100%;
		align-items: center;
		justify-content: center;

		@media (max-width: $vp-tablet) {
			gap: 25px 20px;
			align-items: start;
		}
	}

	&__card {
		width: 390px;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		padding: 20px 6px;
		justify-content: start;
		border: 3px solid #fad977da;
		border-radius: 50px;

		@media (max-width: $vp-tablet) {
			width: 300px;
			padding: 10px 3px;
		}

		@media (max-width: 767px) {
			min-height: auto;
		}

		@media (max-width: $vp-mobile) {
			width: 100%;
		}
	}

	&__card-info {
		padding: 10px 20px;
		gap: 10px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__card-icon {
		width: 80px;
		height: 80px;

		@media (max-width: $vp-mobile) {
			width: 50px;
			height: 50px;
		}
	}

	&__card-title {
		font-size: 25px;
		color: rgb(124, 122, 122);
		text-transform: uppercase;
		font-weight: 600;
		margin: 0;

		@media (max-width: $vp-tablet) {
			font-size: 20px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 18px;
		}
	}

	&__card-description {
		font-size: 18px;
		color: rgb(119, 116, 116);
		font-weight: 300;
		margin: 0;

		@media (max-width: $vp-tablet) {
			font-size: 15px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 13px;
		}
	}
}
