.contacts {
	.container {
		padding: 0 80px;

		@media (max-width: $vp-mobile) {
			padding: 0 20px;
		}
	}

	$root: &;
	background: url('../images/contacts-desktop.jpeg') no-repeat center;
	background-size: cover;
	padding: 130px 0;
	position: relative;

	@media (max-width: $vp-tablet) {
		padding: 80px 0;
	}

	@media (max-width: $vp-mobile) {
		padding: 20px 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color-blue-charcoa, 0.5);
	}

	&__text {
		position: relative;
		max-width: 850px;
		display: flex;
		flex-direction: column;
		z-index: 1;
		gap: 20px;
	}

	&__text-title {
		font-size: 30px;
		line-height: 45px;
		letter-spacing: 0.05em;
		color: $color-white;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 20px;

		@media (max-width: $vp-mobile) {
			font-size: 16px;
			line-height: 1.3;
			margin: 0;
		}
	}

	&__info {
		z-index: 1;
	}

	&__phone {
		display: flex;
		color: white;
		font-size: 35px;
		width: 300px;
		margin: 0 0 30px;
		transition: opacity 0.3s ease;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}

		@media (max-width: $vp-mobile) {
			font-size: 18px;
		}
	}

	&__social {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		gap: 35px;
		align-items: center;
		width: 400px;
		flex-wrap: wrap;

		@media (max-width: $vp-mobile) {
			width: 250px;
		}
	}

	&__social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		transition: opacity 0.3s ease;

		&:hover,
		&:focus {
			opacity: 0.7;
		}
	}

	&__social-icon {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		fill: currentColor;

		@media (max-width: $vp-mobile) {
			width: 35px;
			height: 35px;
		}
	}
}
