.header {
	padding: 20px 0 19px;

	@media (max-width: $vp-mobile) {
		padding: 15px 0 10px;
	}

	.container {
		max-width: 1728px;
		padding: 0 50px;

		@media (max-width: $vp-tablet) {
			padding: 0 20px;
		}
	}

	&__content {
		position: relative;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto 1fr;
		gap: 20px;

		@media (max-width: $vp-tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@media (max-width: $vp-mobile) {
			gap: 10px;
		}
	}

	&__left-col {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 3px;
	}

	&__logo-link {
		width: 114px;
		height: 60px;
		display: flex;

		@media (max-width: $vp-mobile) {
			width: 70px;
			height: 45px;
		}

		&__logo-icon {
			pointer-events: none;
			flex-shrink: 0;
		}
	}

	&__main-nav-list {
		list-style: none;
		display: flex;
		gap: 70px;

		@media (max-width: $vp-tablet) {
			gap: 30px;
		}

		@media (max-width: 767px) {
			min-width: 250px;
		}

		@media (max-width: 461px) {
			min-width: 150px;
		}

		@media (max-width: $vp-mobile) {
			justify-content: center;
			align-items: center;
			padding: 0;
			width: 150px;
			flex-wrap: wrap;
			gap: 4px 15px;
		}

		@media (max-width: 361px) {
			gap: 4px 10px;
		}
	}

	&__main-nav {
		height: 20px;
		display: flex;
		align-items: center;
	}

	&__main-nav-link {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		flex-wrap: wrap;
		transition: opacity 0.3s ease;

		&:hover,
		&:focus-visible {
			opacity: 0.5;
		}

		@media (max-width: 1042px) {
			font-size: 15px;
			line-height: 18px;
		}

		@media (max-width: $vp-tablet) {
			font-size: 15px;
			line-height: 18px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 10px;
			line-height: 14px;
		}

		@media (max-width: 361px) {
			font-size: 8px;
			line-height: 10px;
		}
	}

	&__right-col {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px 40px;
		font-size: 18px;
		line-height: 22px;
		flex-wrap: wrap;

		@media (max-width: $vp-tablet) {
			margin-left: auto;
			font-size: 15px;
			line-height: 18px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 10px;
			line-height: 14px;
			padding: 0;
			margin: 0;
		}

		@media (max-width: 361px) {
			font-size: 8px;
			line-height: 10px;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.3s ease;

		&:hover,
		&:focus-visible {
			opacity: 0.5;
		}
	}
}
