.hero {
	.container {
		padding: 0 80px;

		@media (max-width: 543px) {
			padding: 0 20px;
		}
	}

	$root: &;
	background: url('../images/hero-desktop.jpeg') no-repeat center;
	background-size: cover;
	padding: 120px 0;
	position: relative;

	@media (max-width: $vp-tablet) {
		padding: 80px 0;
	}

	@media (max-width: 620px) {
		padding: 20px 0;
	}

	@media (max-width: $vp-mobile) {
		padding: 20px 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color-blue-charcoa, 0.5);
	}

	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 1;
		gap: 20px;

		@media (max-width: 620px) {
			gap: 10px;
		}
	}

	&__text-title {
		max-width: 950px;
		font-size: 60px;
		line-height: 65px;
		letter-spacing: 0.02em;
		color: $color-white;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 0 20px;

		@media (max-width: $vp-tablet) {
			font-size: 40px;
			line-height: 1.2;
		}

		@media (max-width: 590px) {
			font-size: 25px;
			line-height: 1.1;
		}

		@media (max-width: 423px) {
			font-size: 20px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 20px;
		}
	}

	&__text-description {
		max-width: 1000px;
		font-size: 25px;
		letter-spacing: 0.1em;
		color: white;
		font-weight: 400;
		margin: 0;

		@media (max-width: $vp-tablet) {
			font-size: 20px;
		}

		@media (max-width: 590px) {
			font-size: 15px;
			line-height: 1.1;
		}

		@media (max-width: 543px) {
			color: rgb(240, 239, 239);
		}

		@media (max-width: 423px) {
			font-size: 15px;
		}

		@media (max-width: $vp-mobile) {
			font-size: 15px;
		}
	}
}
